<html>
	<head>
		<meta http-equiv="refresh" content="5">
	</head>
	<body>
		version: $version
		
		<h1>System informations</h1>
		<div id="cpuUsage">CPU Usage: $cpu %</div>
		<div id="totalMemory">Total Memory: $memory.getTotalMemory() MB</div>
		<div id="freeMemory">Free Memory: $memory.getFreeMemory() MB</div>
		#if($image)
			<div id="screenshot"><img src="data:image/png;base64,$image" width=80%>
		#end
	</body>
</html>