<html>
	<head>
		<link href="http://$ip:$port/grid/resources/templates/css/iframecss.css" rel="stylesheet" type="text/css">
		<meta http-equiv="refresh" content="10">
	</head>

	<body>
		<center id="version" >version: $version</center>
		<center id="driverVersion" >drivers version: $driverVersion</center>
		
		<h1 class="iframeTitre" >System informations</h1>
		<div id="cpuUsage"> CPU Usage: $cpu %</div>
		<div id="totalMemory">Total Memory: $memory.getTotalMemory() MB
		<div id="freeMemory"> Free Memory: $memory.getFreeMemory() MB</div>
		<progress id="avancement" value="$memory.getFreeMemory()" max="$memory.getTotalMemory()"></progress>
         
       
       
       
       
		#if($image)
			<div id="screenshot"><img src="data:image/png;base64,$image" width=80%>
		#end
	</body>

</html>

